@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('fonts/SourceSansProExtraLight.eot');
    src: url('fonts/SourceSansProExtraLight.eot') format('embedded-opentype'),
         url('fonts/SourceSansProExtraLight.woff2') format('woff2'),
         url('fonts/SourceSansProExtraLight.woff') format('woff'),
         url('fonts/SourceSansProExtraLight.ttf') format('truetype'),
         url('fonts/SourceSansProExtraLight.svg#SourceSansProExtraLight') format('svg');
}
