$epam-light-gray: #CCC;
$epam-gray: #7B7B7B;
$epam-dark-gray: #666;

$epam-soft-highlight: #EDFBFC;
$additional-bright-color: #A3C644;
$main-bright-color: #39C2D7;
$darker-bright-color: #1A9CB0;

$common-background-color: white;
$dark-background-color: #464547;

$common-text-color: black;
$lightest-text-color: white;

$schedule-grid-color: #DDD;
$epam-borders-color: #F4F4F4;
