@import "../../constants/colors";

.siteBody {
    &--mainPage {
        .schedule {
            margin-top: .5em;
            margin-bottom: 2em;
        }

        @media(min-width: 992px) {
            .common-select__label {
                text-align: right;
            }
        }
    }
    &__introduction {
        background-color: $main-bright-color;
        box-shadow: 1px 1px 10px $epam-light-gray;
        padding: 3%;
    }
}

.siteBody__searchSchedulePart {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchSchedulePart__schedulePart {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.introduction {
    &__text {
        font-size: 1.3em;
    }
}

.instruction {
    &__contentCol {
        border: 1px solid $epam-light-gray;
        border-radius: 4px;
        box-shadow: 1px 1px 10px $epam-light-gray;
        margin: {
            top: 3%;
            bottom: 3%;
        }
        @media(min-width: 992px) {
            margin-left: 6.25% !important;
        }
    }
}

.contentCol {
    &__icon {
        font-size: 9em;
        color: $main-bright-color;
        border: {
            left: 1px solid $epam-light-gray;
            right: 1px solid $epam-light-gray;
            bottom: 1px solid $epam-light-gray;
            radius: 0 0 4px 4px;
        }
    }

    &__text {
        font-size: 1.3em;
    }
}
