.siteBody {
    &--mainPage {
        padding: {
            bottom: 3%;
        }

        .schedule {
            margin-top: .5em;
            margin-bottom: 2em;
        }


        @media(min-width: 992px) {
            .common-select__label {
                text-align: right;
            }
        }

    }
    &__introduction {
        background-color: #39C2D7;
        box-shadow: 1px 1px 10px #CCC;
        padding: 3%;
    }
}

.introduction {
    &__text {
        font-size: 1.3em;
    }
}

.instruction {
    &__contentCol {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: 1px 1px 10px #CCC;
        margin: {
            top: 3%;
            bottom: 3%;
        }
        @media(min-width: 992px) {
            margin-left: 6.25% !important;
        }
    }
}

.contentCol {
    &__icon {
        font-size: 9em;
        color: #39C2D7;
        border: {
            left: 1px solid #CCC;
            right: 1px solid #CCC;
            bottom: 1px solid #CCC;
            radius: 0 0 4px 4px;
        }
    }

    &__text {
        font-size: 1.3em;
    }
}
