@import "../common/_fonts";

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    button {
        &:not(:first-child) {
            margin-left: 15px;
        }
        background-color: white;
        border: 2px solid #39C2D7;
        box-sizing: border-box;
        text-transform: uppercase;
        color: #39C2D7;
        font: {
            family: SourceSansProSemibold, sans-serif;
            size: 16px;
        }
        padding: {
            top: 4px;
            bottom: 4px;
        }
    }
}

p, ul {
    font-family: SourceSansProLight, sans-serif;
}

.siteBody {
    margin-bottom: 60px;

    a {
        color: #1A9CB0;

        &:hover, &:focus {
            text-decoration: none;
            color: #7F993A;
        }
    }
}

.common-input {
    width: 100%;
    padding: 0;
    margin: 0 0 .5em;
}

.common-select {
    margin-bottom: 1em;
    width: 100%;
    padding: 0;
}
