@import "../common/_fonts";

body {
  margin: 0;
  padding: 0;
}

.siteBody {
  & p {
    font: {
      family: Source Sans Pro Light;
      size: 1.5em;
    }
  }

  & a {
    color: #1A9CB0;

    &:hover, &:focus {
      text-decoration: none;
      color: #7F993A;
    }
  }

  &__header {
    &--second {
      font: {
        family: "Oswald Bold";
        size: 2.5em;
      }
    }
    &--third {
      font: {
        family: "Oswald Regular";
        size: 2em;
      }
    }
  }
}