@font-face {
  font-family: "Oswald Regular";
  src: url("../../public/fonts/Oswald/Oswald-Regular.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Oswald Bold";
  src: url("../../public/fonts/Oswald/Oswald-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Oswald Light";
  src: url("../../public/fonts/Oswald/Oswald-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("../../public/fonts/Source Sans Pro/SourceSansPro-Regular.otf") format("otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../../public/fonts/Source Sans Pro/SourceSansPro-Bold.otf") format("otf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("../../public/fonts/Source Sans Pro/SourceSansPro-Semibold.otf") format("otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../../public/fonts/Source Sans Pro/SourceSansPro-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro ExtraLight";
  src: url("../../public/fonts/Source Sans Pro/SourceSansPro-ExtraLight.otf") format("otf");
  font-weight: 100;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

.siteBody p {
  font-family: Source Sans Pro Light;
  font-size: 1.5em; }

.siteBody a {
  color: #1A9CB0; }
  .siteBody a:hover, .siteBody a:focus {
    text-decoration: none;
    color: #7F993A; }

.siteBody__header--second {
  font-family: "Oswald Bold";
  font-size: 2.5em; }

.siteBody__header--third {
  font-family: "Oswald Regular";
  font-size: 2em; }
