@import "../common/_fonts";

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

p, ul {
    font-family: SourceSansProLight, sans-serif;
}

.siteBody {
    margin-bottom: 60px;

    a {
        color: #1A9CB0;

        &:hover, &:focus {
            text-decoration: none;
            color: #7F993A;
        }
    }
}
