.registration {
    background-color: #464547;
    background-image: url("../../../public/img/line.png");
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 5% 0;
    &__form {
        padding: 4%;
        margin: 0 10%;
        border: 1px solid #666;
        border-radius: 4px;
        box-shadow: inset 3px 3px 80px #666;

        & span {
            color: #fff;
        }
    }
    &__button {
        margin-left: 85%;
    }
}
.registrationForm {
    &__label {
        font-size: 1.2em;
        color: #FFF;
    }

    &__input {
        margin-left: 3%;
    }

    &__select {
        margin-left: 3%;
    }

    &__submitBtn {
        font-size: 1.2em !important;
        font-weight: 600;
        background-color: #7F993A;
        border-radius: 0 !important;
        color: white;

        &:hover, &:focus {
            background-color: #A3C644;
            color: white !important;
        }
    }
}
