@import "../../constants/colors";

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: $dark-background-color url("../../../public/img/line.png") no-repeat 95%;

    &__form {
        padding: 4%;
        margin: 0 10%;
        border: 1px solid $epam-dark-gray;
        border-radius: 4px;
        box-shadow: inset 3px 3px 80px $epam-dark-gray;

        & span {
            color: $lightest-text-color;
        }
    }
    &__button {
        width: 5em;
        margin-left: auto;
    }
}
.registrationForm {
    &__label {
        font-size: 1.2em;
        color: $lightest-text-color;
    }

    &__input {
        margin-left: 3%;
    }

    &__select {
        margin-left: 3%;
        margin-bottom: 1em;
    }

    &__submitBtn {
        font-size: 1.2em !important;
        font-weight: 600;
        background-color: $additional-bright-color;
        border-radius: 0 !important;
        color: white;

        &:hover, &:focus {
            background-color: $additional-bright-color;
            color: white !important;
        }
    }
}
