.modal.fade.in {
    display: block;
}
.glyphicon-pencil {
    position: absolute;
    cursor: pointer;
}

.room {
    height: 25px;
    display: flex;
    align-items: center;
}

.room:not(:hover) > div{
    display: none !important;
}
