@import "../../constants/colors";

.siteBody {
  &--loginPage {
      background: $dark-background-color url("../../../public/img/line.png") no-repeat 95%;
      padding: calc(45vh - 120px) 0;
  }

  &__loginForm {
    padding: 4%;
    margin: 0 10%;
    border: 1px solid $epam-dark-gray;
    border-radius: 4px;
    box-shadow: inset 3px 3px 80px $epam-dark-gray;

    & span {
      color: $lightest-text-color;
    }
  }
}

.loginForm {
  &__label {
    font-size: 1.2em;
    color: $lightest-text-color;
  }

  &__input {
    margin-left: 3%;
  }

  &__submitBtn {
    font-size: 1.2em !important;
    font-weight: 600;
    background-color: $additional-bright-color;
    border-radius: 0 !important;
    color: $lightest-text-color;

    &:hover, &:focus {
      background-color: $additional-bright-color;
      color: $lightest-text-color !important;
    }
  }

  &__registrationComment {
    color: $lightest-text-color;
    font-size: 1.2em !important;
    display: inline-block;
    margin: auto;
  }
}
