$color-grid: #ddd;
$color-event: #eee;
$bgcolor-active-event: #30f42b;
$color-active-event: #000;
$color-bright: #39C2D7;

.schedule {
  .bg-table {
    width: 100%;
    margin: 0;
    padding: 0;

    .bg-row{
      border-bottom: 1px solid $color-grid;
      &:last-of-type {
        border: none;
      }
    }
  }

  .event {
    position: absolute;
    width: 99%;
    margin: 1px;
    border-radius: 4px;
    background-color: white;
    text-align: left;
    overflow: hidden;
    border: solid 3px $color-grid;

    .additional {
      font-size: .9em;
      margin: 0 .5em;
    }

    .name {
        margin: 0 0 .3em;
        width: 100%;
        background-color: $color-grid;
        color: white;

        padding: 0.4em;
        font-weight: bold;
    }

      &--active {
        border: solid 3px $color-bright;

        .name {
          background-color: $color-bright;
        }
      }

    & .modal__open-button {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
  }
  .event--active {
      background-color: $bgcolor-active-event;
      color: $color-active-event;
  }
  .text-center {
    margin: 0;
  }

  .time-col {
    padding: 0;
    font-weight: normal;
  }

  .time-cell {
    width: 100%;
    border-bottom: 1px solid $color-grid;
    text-align: center;
    font-size: .9em;

    &:first-of-type {
      margin-top: 1px;
    }

    &:last-of-type {
      border: none;
    }
  }

  .week-col {
    position: relative;
    padding: 0;
    width: 14%;
  }
}
