@import "../constants/colors";

.schedule {
  .bg-table {
    width: 100%;
    margin: 0;
    padding: 0;

    .bg-row{
      border-bottom: 1px solid $schedule-grid-color;
      &:last-of-type {
        border: none;
      }
    }
  }

  .event {
    position: absolute;
    width: 99%;
    margin: 1px;
    border-radius: 4px;
    background-color: $common-background-color;
    text-align: left;
    overflow: hidden;
    border: solid 3px $schedule-grid-color;

    .additional {
      font-size: .9em;
      margin: 0 .5em;
    }

    .name {
        margin: 0 0 .3em;
        width: 100%;
        background-color: $schedule-grid-color;
        color: $lightest-text-color;

        padding: 0.4em;
        font-weight: bold;
    }

      &--active {
        border: solid 3px $main-bright-color;

        .name {
          background-color: $main-bright-color;
        }
      }

    & .modal__open-button {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
  }

  .text-center {
    margin: 0;
  }

  .time-col {
    padding: 0;
    font-weight: normal;
  }

  .time-cell {
    width: 100%;
    border-bottom: 1px solid $schedule-grid-color;
    text-align: center;
    font-size: .9em;

    &:first-of-type {
      margin-top: 1px;
    }

    &:last-of-type {
      border: none;
    }
  }

  .week-col {
    position: relative;
    padding: 0;
    width: 14%;
  }
}
