.siteBody {
    &--notFound {
        max-height: 40vh;
        font-size: 1.5em;
    }
}

.notFound {
    &__mainImg {
        max-height: 40vh;
        margin: 5vh;

        @media (max-width: 750px) {
            max-height: 35vw;
        }
    }

    &__text {
        margin: 20px;

        @media (max-width: 750px) {
            margin: 10px 0 15px 0;
        }
    }
}
